body{/* */
    font-family: Arial, sans-serif;
    background-color:#2d97b8;
    margin: 0;/*para que adapte a toda la pantalla sin espacios en blanco */
    padding: 0;/*grosor del formato */
    display: flex;
    flex-direction: column;/*Asegura que todos los elementos salgan en columna de arriba hacia abajo*/
    min-height: 100vh;/* Para que ocupe todo el contenido la altura de la pantalla*/
}
header{/*Estilo del encabezado*/
background-color: rgb(31, 173, 138);
color: aliceblue;
text-align: center;
padding: 15px; /*grosor*/
font-size: 24px;
}
nav{
    background-color: blueviolet;
    padding: 10px;
    text-align: center;
}
nav a{
    color:aliceblue;
    text-decoration: none;
    padding: 10px 20px;
    font-size: 18px;
}
footer{
    background-color: rgba(51, 88, 89, 0.651);
    color: white;
    text-align: center;
    padding: 10px;
    width: 100%;
}

.carousel {
    width: 600px;
    max-width: 3000px;
    margin: auto;
    overflow: hidden;
    position: relative;
    overflow: hidden;
    border-radius: 10px; /* Bordes redondeados */
    box-shadow: 0 4px 8px rgba(255, 0, 0, 0.8); /* Sombra suave */
  }
  .carousel-images{
    display: flex;
    width: 300%;
    animation: slide 16s infinite;
  }
  .carousel img{
    width: 100%;
  }